.uhsp-slider-wrapper .uhsp-left,
.uhsp-slider-wrapper .uhsp-right {
  -moz-transition: padding 0.15s ease;
  -o-transition: padding 0.15s ease;
  -webkit-transition: padding 0.15s ease;
  transition: padding 0.15s ease;
  color: white;
  cursor: pointer;
  fill: none;
  height: 100%;
  opacity: 1;
  position: absolute;
  stroke: white;
  text-align: center;
  width: 40px;
  z-index: 2;
}
.uhsp-slider-wrapper .uhsp-left img,
.uhsp-slider-wrapper .uhsp-right img {
  height: 33px;
  margin-top: -17px;
  position: relative;
  top: 50%;
  width: 17px;
}
.uhsp-slider-wrapper .uhsp-left {
  left: 0;
  padding-left: 10px;
}
.uhsp-slider-wrapper .uhsp-left:hover {
  padding-left: 6px;
}
.uhsp-slider-wrapper .uhsp-right {
  padding-right: 10px;
  right: 0;
}
.uhsp-slider-wrapper .uhsp-right:hover {
  padding-right: 6px;
}

.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-images {
  left: 0;
  width: 100%;
}
.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-images .uhsp-single-slide {
  padding: 0 calc(((100% / 1) - 1480px) / 2);
  width: 100%;
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-images {
  left: 0;
  width: 200%;
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-images .uhsp-single-slide {
  padding: 0 calc(((100% / 2) - 1480px) / 2);
  width: 50%;
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-images {
  left: -100%;
  width: 300%;
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-images .uhsp-single-slide {
  padding: 0 calc(((100% / 3) - 1480px) / 2);
  width: 33.33333%;
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-images {
  left: -100%;
  width: 400%;
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-images .uhsp-single-slide {
  padding: 0 calc(((100% / 4) - 1480px) / 2);
  width: 25%;
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-images {
  left: -200%;
  width: 500%;
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-images .uhsp-single-slide {
  padding: 0 calc(((100% / 5) - 1480px) / 2);
  width: 20%;
}
.uhsp-slider-wrapper .uhsp-slider-images {
  height: 100%;
  opacity: 1;
  overflow: hidden;
  position: relative;
  white-space: nowrap;
  z-index: 1;
}
.uhsp-slider-wrapper .uhsp-slider-images .uhsp-single-slide {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-position: center center;
  background-size: cover;
  display: inline-block;
  float: left;
  height: 100%;
  position: relative;
  white-space: initial;
}
.uhsp-slider-wrapper .uhsp-slider-images .uhsp-single-slide img.uhsp-single-image {
  bottom: 200px;
  height: 250px;
  left: calc(50% - 185px);
  position: absolute;
  width: 370px;
  z-index: 1;
}
.uhsp-slider-wrapper .uhsp-slider-images .uhsp-single-slide .ushp-slide-overlay {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 0;
}
.uhsp-slider-wrapper[max-width~="1024px"] .uhsp-slider-images .uhsp-single-slide img.uhsp-single-image {
  height: 220px;
  left: calc(50% - 162px);
  width: 324px;
}
.uhsp-slider-wrapper[max-width~="667px"] .uhsp-slider-images .uhsp-single-slide img.uhsp-single-image {
  bottom: 130px;
  height: 105px;
  left: calc(50% - 75px);
  width: 150px;
}

.uhsp-slider-wrapper {
  -webkit-font-smoothing: antialiased;
  height: 650px;
  overflow: hidden;
  position: relative;
  text-decoration: none;
  width: 100%;
}
.uhsp-slider-wrapper > * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.uhsp-slider-wrapper a {
  text-decoration: none;
}
.uhsp-slider-wrapper[max-width~="1024px"] {
  height: 600px;
}
.uhsp-slider-wrapper[max-width~="667px"] {
  height: 400px;
}

.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-titles {
  left: calc((100% - 1480px) / 2);
}
.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-titles .uhsp-hover-bar {
  left: 0;
  width: 100%;
}
.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-titles .uhsp-title:nth-child(1):hover ~ .uhsp-hover-bar {
  left: 0% !important;
}
.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-titles .uhsp-title:nth-child(2):hover ~ .uhsp-hover-bar {
  left: 100% !important;
}
.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-titles .uhsp-title:nth-child(3):hover ~ .uhsp-hover-bar {
  left: 200% !important;
}
.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-titles .uhsp-title:nth-child(4):hover ~ .uhsp-hover-bar {
  left: 300% !important;
}
.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-titles .uhsp-title:nth-child(5):hover ~ .uhsp-hover-bar {
  left: 400% !important;
}
.uhsp-slider-wrapper.uhsp-amount-1 .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title {
  width: 100%;
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-titles {
  left: calc((100% - 1480px) / 2);
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-titles .uhsp-hover-bar {
  left: 0;
  width: 50%;
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-titles .uhsp-title:nth-child(1):hover ~ .uhsp-hover-bar {
  left: 0% !important;
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-titles .uhsp-title:nth-child(2):hover ~ .uhsp-hover-bar {
  left: 50% !important;
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-titles .uhsp-title:nth-child(3):hover ~ .uhsp-hover-bar {
  left: 100% !important;
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-titles .uhsp-title:nth-child(4):hover ~ .uhsp-hover-bar {
  left: 150% !important;
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-titles .uhsp-title:nth-child(5):hover ~ .uhsp-hover-bar {
  left: 200% !important;
}
.uhsp-slider-wrapper.uhsp-amount-2 .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title {
  width: 50%;
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-titles {
  left: calc((100% - 1480px) / 2);
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-titles .uhsp-hover-bar {
  left: 33.3333%;
  width: 33.33333%;
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-titles .uhsp-title:nth-child(1):hover ~ .uhsp-hover-bar {
  left: 0% !important;
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-titles .uhsp-title:nth-child(2):hover ~ .uhsp-hover-bar {
  left: 33.33333% !important;
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-titles .uhsp-title:nth-child(3):hover ~ .uhsp-hover-bar {
  left: 66.66667% !important;
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-titles .uhsp-title:nth-child(4):hover ~ .uhsp-hover-bar {
  left: 100% !important;
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-titles .uhsp-title:nth-child(5):hover ~ .uhsp-hover-bar {
  left: 133.33333% !important;
}
.uhsp-slider-wrapper.uhsp-amount-3 .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title {
  width: 33.33333%;
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-titles {
  left: calc((100% - 1480px) / 2);
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-titles .uhsp-hover-bar {
  left: 25%;
  width: 25%;
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-titles .uhsp-title:nth-child(1):hover ~ .uhsp-hover-bar {
  left: 0% !important;
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-titles .uhsp-title:nth-child(2):hover ~ .uhsp-hover-bar {
  left: 25% !important;
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-titles .uhsp-title:nth-child(3):hover ~ .uhsp-hover-bar {
  left: 50% !important;
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-titles .uhsp-title:nth-child(4):hover ~ .uhsp-hover-bar {
  left: 75% !important;
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-titles .uhsp-title:nth-child(5):hover ~ .uhsp-hover-bar {
  left: 100% !important;
}
.uhsp-slider-wrapper.uhsp-amount-4 .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title {
  width: 25%;
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-titles {
  left: calc((100% - 1480px) / 2);
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-titles .uhsp-hover-bar {
  left: 40%;
  width: 20%;
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-titles .uhsp-title:nth-child(1):hover ~ .uhsp-hover-bar {
  left: 0% !important;
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-titles .uhsp-title:nth-child(2):hover ~ .uhsp-hover-bar {
  left: 20% !important;
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-titles .uhsp-title:nth-child(3):hover ~ .uhsp-hover-bar {
  left: 40% !important;
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-titles .uhsp-title:nth-child(4):hover ~ .uhsp-hover-bar {
  left: 60% !important;
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-titles .uhsp-title:nth-child(5):hover ~ .uhsp-hover-bar {
  left: 80% !important;
}
.uhsp-slider-wrapper.uhsp-amount-5 .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title {
  width: 20%;
}
.uhsp-slider-wrapper .uhsp-slider-titles {
  bottom: 70px;
  padding: 0 20px;
  position: absolute;
  width: 1480px;
  z-index: 2;
}
.uhsp-slider-wrapper .uhsp-slider-titles .uhsp-hover-bar {
  -moz-transition: left 0.3s ease;
  -o-transition: left 0.3s ease;
  -webkit-transition: left 0.3s ease;
  transition: left 0.3s ease;
  box-sizing: border-box;
  height: 2px;
  padding: 0 3%;
  position: absolute;
  top: -1px;
}
.uhsp-slider-wrapper .uhsp-slider-titles .uhsp-hover-bar .uhsp-hover-bar-color {
  height: 2px;
  width: 100%;
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  list-style: none;
  margin: 0;
  padding: 0;
  position: relative;
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title {
  cursor: pointer;
  float: left;
  line-height: 1;
  text-align: center;
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title h2.uhsp-slide-title {
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  cursor: pointer;
  font-size: 30px;
  font-weight: 400;
  margin: 5px 0 0;
  opacity: 0.3;
  padding: 0;
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title .uhsp-slide-subtitle {
  -moz-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  -webkit-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
  color: white;
  font-size: 12px;
  font-weight: 400;
  margin: 8px 0 0;
  opacity: 0.3;
  width: 100%;
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title.selected h2.uhsp-slide-title {
  opacity: 1;
}
.uhsp-slider-wrapper .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title.selected .uhsp-slide-subtitle {
  opacity: 1;
}
.uhsp-slider-wrapper[max-width~="1480px"].uhsp-amount-1 .uhsp-slider-titles {
  left: 0;
}
.uhsp-slider-wrapper[max-width~="1480px"] .uhsp-slider-titles {
  left: 0;
  width: 100%;
}
.uhsp-slider-wrapper[max-width~="1480px"].uhsp-amount-2 .uhsp-slider-titles {
  left: 0;
}
.uhsp-slider-wrapper[max-width~="1480px"] .uhsp-slider-titles {
  left: 0;
  width: 100%;
}
.uhsp-slider-wrapper[max-width~="1480px"].uhsp-amount-3 .uhsp-slider-titles {
  left: 0;
}
.uhsp-slider-wrapper[max-width~="1480px"] .uhsp-slider-titles {
  left: 0;
  width: 100%;
}
.uhsp-slider-wrapper[max-width~="1480px"].uhsp-amount-4 .uhsp-slider-titles {
  left: 0;
}
.uhsp-slider-wrapper[max-width~="1480px"] .uhsp-slider-titles {
  left: 0;
  width: 100%;
}
.uhsp-slider-wrapper[max-width~="1480px"].uhsp-amount-5 .uhsp-slider-titles {
  left: 0;
}
.uhsp-slider-wrapper[max-width~="1480px"] .uhsp-slider-titles {
  left: 0;
  width: 100%;
}
.uhsp-slider-wrapper[max-width~="1024px"] .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title h2.uhsp-slide-title {
  font-size: 25px;
}
.uhsp-slider-wrapper[max-width~="667px"].uhsp-amount-1 .uhsp-slider-titles ul.uhsp-title-list {
  left: 0;
  width: 100%;
}
.uhsp-slider-wrapper[max-width~="667px"].uhsp-amount-2 .uhsp-slider-titles ul.uhsp-title-list {
  left: -100%;
  width: 200%;
}
.uhsp-slider-wrapper[max-width~="667px"].uhsp-amount-3 .uhsp-slider-titles ul.uhsp-title-list {
  left: -100%;
  width: 300%;
}
.uhsp-slider-wrapper[max-width~="667px"].uhsp-amount-4 .uhsp-slider-titles ul.uhsp-title-list {
  left: -200%;
  width: 400%;
}
.uhsp-slider-wrapper[max-width~="667px"].uhsp-amount-5 .uhsp-slider-titles ul.uhsp-title-list {
  left: -200%;
  width: 500%;
}
.uhsp-slider-wrapper[max-width~="667px"] .uhsp-slider-titles {
  bottom: 20px;
  padding: 0;
}
.uhsp-slider-wrapper[max-width~="667px"] .uhsp-slider-titles .uhsp-hover-bar {
  display: none;
}
.uhsp-slider-wrapper[max-width~="667px"] .uhsp-slider-titles ul.uhsp-title-list {
  border-top: none;
}
.uhsp-slider-wrapper[max-width~="667px"] .uhsp-slider-titles ul.uhsp-title-list li.uhsp-title h2.uhsp-slide-title {
  font-size: 18px;
}
