.uhsp-slider-wrapper {
    -webkit-font-smoothing: antialiased;
    height: $uhsp-height-desktop;
    overflow: hidden;
    position: relative;
    text-decoration: none;
    width: 100%;

    & > * {
        @include box-sizing(border-box);
    }

    a {
        text-decoration: none;
    }

    @include tablet {
        height: $uhsp-height-tablet;
    }

    @include mobile {
        height: $uhsp-height-mobile;
    }
}